body{
  margin: 0 auto;
  width: 1000px;
  height: 1310px;
  background-color: white;
}
header{
  margin: 16px 0 0 45px;
  width: 909px;
  height: 300px;
}
.telephone{
  margin: 3px 3px 0 4px;
  float: left
}
.telephone p{
  font-size: 19px;
  font-family: "Arial";
  color: rgb(94, 105, 109);
  line-height: 1.5;
  float: left;
}
.avtoriz{
  display: inline-block;
  margin: 1px 10px 10px 12px;
  width: 500px;
  height: 38px;
  width: 496px;
  height: 27px;
  border-radius: 3px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  float: left;
}
.avtoriz img{
  margin: 5px 0 0 7px;
  float: left;
}
.avtoriz form{
  margin: 5px 0 0 25px;
  width: 470px;
  height: 18px;
}
.avtoriz input{
  margin: 0px 8px 0 0px;
  border: 1px solid rgb(155, 161, 163);
  background-color: rgb(255, 255, 255);
  width: 109px;
  height: 12px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode";
  color: rgb(151, 162, 166);
  line-height: 1.2;
  text-indent: 2px;
  letter-spacing: -0.07em;
  float: left;
}
.avtoriz button{
  background-color: inherit;
  border-style: hidden;
  padding: 0 3px;
  height: 17px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode";
  color: rgb(255, 255, 255);
  letter-spacing: -0.04em;
  cursor: pointer;
  float: left;
}
.avtoriz span{
  background-color: inherit;
  border-style: hidden;
  margin: 4px 0 0;
  height: 17px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode";
  color: rgb(255, 255, 255);
  letter-spacing: -0.09em;
  float: left;
}
.avtoriz a{
  margin: 0px 0 3px 20px;
  height: 13px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode";
  color: rgb(191, 191, 191);
  line-height: 1;
  letter-spacing: 0.01em;
  text-decoration: underline;
}
nav{
  margin: 3px 0 0 6px;
  border:1px solid rgb(189, 196, 199);
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  width: 75px;
  height: 19px;
  box-shadow: 0px 3px 3px 0px #bcc3c6;
  float: left;
}
nav .home{
  margin: 2px 5px;
  width: 15px;
  height: 15px;
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  float: left;
}
nav .map{
  margin: 2px 5px;
  width: 15px;
  height: 15px;
  background-image: url(../img/map_site.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  float: left;
}
nav .mail{
  margin: 2px 5px;
  width: 15px;
  height: 15px;
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  float: left;
}
.menu_header{
  width: 918px;
  height: 41px;
  margin: 4px 0 0 -1px;
  width: 908px;
  height: 31px;
  border: 1px solid rgb(13, 22, 66);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.menu_header>ul{
  margin: 0 0 0 130px;
}
.menu_header>ul>li a{
  display: inline-block;
  height: 26px;
  margin: 2px 0px;
  padding: 0 15px 0 15px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(255, 255, 255);
  line-height: 2.1;
  text-decoration: none;
  float: left;
}
.menu_header>ul>li a:hover{
  margin: 2px 0 0 0;
  height: 26px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  border-radius: 13px;
}
.menu_header img{
  margin: 7px 0 0 50px;
  float: left;
}
.menu_header p{
  font-size: 11px;
  font-family: "Arial";
  color: rgb(146, 155, 159);
  line-height: 2.8;
  text-indent: 6px;
  letter-spacing: 0.04em;
}
.menu_header span{
  margin: 0px 16px 0 0px;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(13, 90, 143);
  line-height: 1.5;
  white-space: pre;
  letter-spacing: 0.03em;
}
.finds{
  width: 918px;
  height: 135px;
  margin: 26px 40px 00px;
}
.finds::after{
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
.conteiner{
  font-family: "Lucida Sans Unicode";
  width: 918px;
  margin: 15px 40px 0px;
  padding: 0 0 0 0;
  clear: both;
}
.left{
  float: left;
  width: 190px;
  margin: 0px 0px 0px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
}
.left a{
  text-decoration: none;
  letter-spacing: -0.05em;
  color: #465961;
}
.left li>ul>li{
  list-style:url(../img/list_style.png);
  margin-left: 56px;
  text-indent: -5px;
  line-height: 25px;
}
.left li>ul>li:hover{
  list-style: url(../img/list_style_hover.png);

}
.left li>ul>li>a:hover{
  font-style: italic;
  font-weight: bold;
  color: #2f4966;
  text-decoration: underline;
  letter-spacing: -0.07em;
}
.right{
  float: right;
  width: 190px;
  margin: 0px 0px 0px;
  font-size: 15px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  text-align: left;
}
.right input[type="checkbox"]{
  background-image: url(../img/checkbox.png);
  -webkit-appearance: small-caption;
  width: 11px;
  height: 11px;
  margin: 6px 0 0 28px;
  cursor: pointer;
  float: left;
}
.right input~span{
  margin: 0 0 0 12px;
  color: #465961;
  font-size: 13px;
  line-height: 25px;
  cursor: pointer;
}
.right input[type="submit"]{
  margin: 17px 0 0 25px;
  border: 1px solid rgb(167, 171, 174);
  border-radius: 15px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  width: 84px;
  height: 27px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding: 0 0 3px 1px;
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  cursor: pointer;
}
main{
  width: 527px;
  margin: 0px 195px 0px;
  background-color: #c8d0d4;
  padding-bottom: 15px;
  overflow: hidden;
  border-radius: 3px;
}
figure {
  margin: 1px 0 -10px;
  padding: 13px 0px 0px;
  display: block;
  width: 175px;
  height: 200px;
  float: left;
  text-align: center;
}
figure div{
  width: 139px;
  height: 124px;
  margin: 0 auto 0;
  padding-top: 5px;
  border-radius: 10px;
  background-color: white;
  background-position: center;
  background-repeat: space;
}
figcaption {
  color: #114165;
  font-style: italic;
  font-weight: bold;
  line-height: 24px;
}
.company{
  color: #206988;
}
.model{
  font-size: 13px;
  letter-spacing: 0.01em;
}
.h1{
  margin: 3px 0 14px 3px;
  border: 1px solid rgb(121, 135, 141);
  border-radius: 13px;
  box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
  width: 180px;
  height: 25px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  line-height: 2;
  letter-spacing: -0.05em;
  vertical-align: middle;
  text-indent: 0px;
  text-align: left;
}
.h1 img{
  margin: 2px;
  float: left
}
.h2{
  margin: 0px 0 -1px 5px;
  border: 1px solid rgb(121, 135, 141);
  border-radius: 13px;
  width: 149px;
  height: 26px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  line-height: 2.2;
  vertical-align: middle;
  text-indent: 0px;
  text-align: left;
}
.right .h2{
  margin: 8px 0 2px 17px;
  border: 1px solid rgb(121, 135, 141);
  border-radius: 13px;
  width: 135px;
  height: 26px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  line-height: 2.2;
  vertical-align: middle;
  text-indent: 0px;
  text-align: left
}
.h2 img{
  margin: 0px 1px 0 5px;
  float: left;
  height: 25px
}
.conteiner::after{
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
.brandlogo{
  width: 676px;
  height: 27px;
  margin: 39px auto 0;
  background-image: url(../img/brandLogo.png)
}
footer{
  margin: 0 auto;
  width: 908px;
  height: 100px;
  margin: 25px 44px 0 45px;
  font-family: "Lucida Sans Unicode";
  background-color: #213a4d;
  border: 1px solid rgb(36, 42, 60);
}
.menu_footer{
  margin: 8px 290px 9px 308px;
}
.menu_footer li{
  float: left;
}
.menu_footer a,
footer span{
  font-size: 13px;
  font-family: "Arial";
  color: #d9dee0;
  line-height: 1.364;
  letter-spacing: -0.03em;
  white-space: pre;
  text-decoration: none;
}
.menu_footer a:hover{
  color: #52abcb;
}
.menu_footer::after{
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
footer p{
  font-size: 10px;
  font-family: "Arial";
  color: rgb(127, 71, 64);
  line-height: 1.8;
  text-align: center;
}
