a{
  font-family: league_gothic_regular, sans-serif;
  text-decoration: none;
}
h1{
  font-family: league_gothic_regular, sans-serif;
}
h2{
  font-family: league_gothic_regular, sans-serif;
  font-size: 32px;
  word-wrap: break-word;
  text-overflow: clip;
  overflow: hidden;
}
h3{
  font-family: open_sansbold, sans-serif;
  font-size: 16px;
  color: #696969;
  font-weight: bolder;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-bottom: 3px;
}
p{
  font-family: open_sanslight, sans-serif;
  word-wrap: break-word;
  text-overflow: clip;
  overflow: hidden;
}
h4{
  color: #c5c5c5;
  font: italic 16px / 24px Georgia, serif;
  margin: 9px 0 7px 0;
  letter-spacing: -0.1px;
}
body{
  max-width: 2400px;
  height: 2306px;
  margin: 0 auto;
  position: relative;
}
header{
  position: absolute;
  margin: 0 auto;
  padding-top: 70px;
  height: 869px;
  width: 100%;
  background: url(../img/bg_header.jpg) no-repeat center top;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 960px;
}
.header_logo{
  float: left;
  margin: -20px 130px 0 -3px;
}
.menu{
  float: left;
}
.menu__item{
  display: inline-block;
  margin: 5px 0 0px 38px;
  list-style-type: none; 
}
.menu__item:hover{
  border-bottom: 2px solid #edbfff;
}
.menu__link{
  padding: 0 5px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.container::after{
  content: '';
  clear: both;
  display: block;
}
.sliders{
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  top: 278px;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow__left {
  position: absolute;
  top: 173px;
  width: 30px;
  height: 42px;
  left: 0;
}
.arrow__right {
  position: absolute;
  top: 173px;
  width: 30px;
  height: 42px;
  right: 0;
}
.slider__header{
  margin: 0px 320px 0 45px;
  padding: 78px 0 0 0;
  font-size: 60px;
  color: white;
  letter-spacing: -0.01em
}
.slider__subheader{
  margin: -2px 320px 5px 45px;
  line-height: 36px;
  font-size: 32px;
  color: #edbfff;
  letter-spacing: 0.02em;
}
.slider__text{
  margin: -2px 320px 0 45px;
  min-width: 320px;
  max-width: 502px;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.slider__img{
  position: absolute;
  top: -17px;
  margin-right: 74px;
  right: 0;
  height: 434px;
}
.slider__blic{
  display: none;
}
.slider__list {
  float: right;
  margin: 173px 168px 58px 0px;
}
.slider__radiobutton {
  display: none;
}
.slider__radiobutton+label {
  display:inline-block;
  width:18px;
  height:18px;
  background: url(../img/slider__list.png) left top no-repeat;
  cursor:pointer;
}
.slider__radiobutton:checked+label{
  background-position: -18px 0;
}

.info{
  position: absolute;
  margin: 0 auto;
  top: 846px;
  height: 342px;
  width: 100%;
  background: rgba(93,65,105,1);
  background: -moz-linear-gradient(top, rgba(93,65,105,1) 0%, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(93,65,105,1)), color-stop(25%, rgba(93,65,105,1)), color-stop(51%, rgba(82,58,93,1)), color-stop(76%, rgba(68,49,77,1)), color-stop(100%, rgba(51,38,58,1)));
  background: -webkit-linear-gradient(top, rgba(93,65,105,1) 0%, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
  background: -o-linear-gradient(top, rgba(93,65,105,1) 0%, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
  background: -ms-linear-gradient(top, rgba(93,65,105,1) 0%, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
  background: linear-gradient(to bottom, rgba(93,65,105,1) 0%, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d4169', endColorstr='#33263a', GradientType=0 );*/
}
.info__1,
.info__2,
.info__3{
  float: left;
  width: 29.16%;
  margin: 8% 0 0 7px;
}
.info__2{
  margin: 8% 46px 0 60px;
}
.info__img{
  width: 30px;
  height: 30px;
  margin: 5px -2px;
  background: url(../img/info__img.png) 0 0 no-repeat;
  float: left;
}
.info__2 .info__img{
  background-position: -30px 0;
}
.info__3 .info__img{
  background-position: -60px 0;
}
.info__header{
  margin-left: 53px;
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
  letter-spacing: 0em;
}
.info__text{
  display: block;
  height: 125px;
  margin: 8px 0 0 52px;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  line-height: 24px;
}
.info__link{
  clear: both;
  float: right;
  margin: 14px 10px 0 0;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.info__link:hover{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.test-blog{
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 45%;
  background-color: #f9f9f9;
  padding-top: 1200px;
}
.testimonials{
  float: left;
  width: 47%;

}
.testimonials__page {
  background: url(../img/testimonials_bg.png) no-repeat right 0;
  width: 95%;
  height: 292px;
  position: relative;
  margin: 88px 0 0 20px;
}

.testimonials__img {
  background: url(../img/Layer_82.png);
  position: absolute;
  top: 18px;
  left: -24px;
  width: 49px;
  height: 49px;
}

.testimonials__header {
  padding: 31px 0 0px 40px;
  height: 30px;
  font: 400 30px/24px league_gothic_regular;
  color: #454545;
}
.testimonials__br{
  display: none;
}
.testimonials__header span{
  font: 400 30px / 24px;
  color: #edbfff;
}

.testimonials__text {
  height: 168px;
  margin: 8px 43px 58px 40px;
  color: #454545;
  font: 300 16px / 24px open_sanslight, sans-serif;
}

.testimonials__list {
  margin: 2px 0 70px 192px;
}
.testimonials__radiobutton {
  display: none;
}
.testimonials__radiobutton+label {
  display:inline-block;
  width:18px;
  height:18px;
  background: url(../img/testimonials__list.png) left top no-repeat;
  cursor:pointer;
}
.testimonials__radiobutton:checked+label{
  background-position: -18px 0;
}
.fromblog {
  width: 47%;
  height: 264px;
  margin: 114px 0 0 0px;
  float: right;
  line-height: 1.2;
}
.fromblog h2{
  font-size: 30px;
  margin-left: -1px;
  color: #454545;
}
.fromblog__item--1,
.fromblog__item--2,
.fromblog__item--3{ 
  list-style: none;
  padding: 13px 0 7px 65px;
  position: relative;
}

.fromblog__item--1:before {
  content: '';
  background: url(../img/blog_liststyle.png) no-repeat left top;
  height: 49px;
  width: 49px;
  position: absolute;
  left: 0px;
  top: 13px;
}
.fromblog__item--2:before {
  content: '';
  background: url(../img/blog_liststyle.png) no-repeat left top;
  background-position: 0 -50px;
  height: 49px;
  width: 49px;
  position: absolute;
  left: 0px;
  top: 13px;
}
.fromblog__item--3:before {
  content: '';
  background: url(../img/blog_liststyle.png) no-repeat left top;
  background-position: 0 -100px;
  height: 49px;
  width: 49px;
  position: absolute;
  left: 0px;
  top: 13px;
}
.fromblog__link--960,
.fromblog__link--768{
  float: right;
  margin: 13px 24px 0 0;
  color: #454545;
  font-size: 18px;
}
.fromblog__link--768{
  display: none;
}
.trust_marks {
  clear: both;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  height: 122px;
}
.trust_marks__wraper {
  width: 90%;
  margin: 0 auto;
}
.trust_marks__link{
  display: block;
  float: left;
  width: 104px;
  height: 65px;
  margin: 26px 2% 31px;
}
.trust_marks__1{
  background: url(../img/trust_marks.png);
  width: 70px;
  height: 65px;
}
.trust_marks__2{
  background: url(../img/trust_marks.png);
  width: 73px;
  height: 65px;
  background-position: -134px;
}
.trust_marks__3{
  background: url(../img/trust_marks.png);
  width: 66px;
  height: 65px;
  background-position: -269px;
}
.trust_marks__4{
  background: url(../img/trust_marks.png);
  width: 53px;
  height: 65px;
  background-position: -410px;
}
.trust_marks__5{
  background: url(../img/trust_marks.png);
  width: 104px;
  height: 65px;
  background-position: -527px;
}
.trust_marks__6{
  background: url(../img/trust_marks.png);
  width: 79px;
  height: 65px;
  background-position: -696px;
}
.trust_marks__1,
.trust_marks__2,
.trust_marks__3,
.trust_marks__4,
.trust_marks__5,
.trust_marks__6{
  margin: auto;
}
.conclusion--960,
.conclusion--768{
  position: absolute;
  margin: 0 auto;
  top: 1796px;
  width: 100%;
  height: 396px;
  background-color: #ececec;
}
.conclusion--768{
  display: none;
}
.conclusion__block{
  float: left;
  width: 29.1%;
  height: 205px;
  margin: 96px 6.5% 0 -3px;
  padding: 3px 0 0 0;
  color: #696969;
  font: 300 16px / 24px open_sanslight;
  word-wrap: break-word;
  text-overflow: clip;
  overflow: hidden;
}
.conclusion__block h2{
  color: #454444;
  font-size: 30px;
  margin-bottom: 10px;
    
}
.conclusion__block:last-of-type{
  margin-right: 0;
}
footer{
  position: absolute;
  margin: 0 auto;
  bottom: 0px;
  height: 114px;
  width: 100%;
  background: url(../img/bg_footer.jpg) no-repeat center bottom;
  background-position: bottom;
}
.menu--footer{
  float: left;
  margin: 45px 0 0 -7px;
}
.menu--footer .menu__item{
  margin: 0 29px 0 0;
}
.menu--footer .menu__link{
  font-size: 20px;
  
}
.designed{
  float: right;
  margin: 54px 0;
}
@media (max-width: 960px){
  body{
    width: 100%;
    height: 2346px;
  }
 
  .container{
    width: 768px;
    margin: 0px auto 0;
  }
  .header{
    margin: 0 auto;
    padding: 0;
  }
  .header_logo{
    float: none;
    margin: -18px 0 0 19px;
  }
  .menu{
    margin: 25px 0 0 -24px;
    padding: 0;
  }
  .sliders{
    top: 244px;
  }
  .arrow__left,
  .arrow__right {
    top: 159px
  }
  .slider__box{
    width: 272px;
    height: 180px;
    margin: 20px 0 0 43px;
  }
  .slider__header{
    margin: 0px 0 0 0px;
    font-size: 48px;
    letter-spacing: -0.2px;
  }
  .slider__subheader{
    height: 27px;
    font-size: 24px;
    margin: 3px 0 2px -2px;
    letter-spacing: 0.1px;
  }
  .slider__text{
    margin: 9px 0 0 0;
    height: 100px;
    font-size: 16px; 
    line-height: 27px;
    min-width: inherit;
  }
  .slider__img{
    top: -42px;
    right: -26px;
  }
  .slider__blic{
    display: block;
    position: absolute;
    top: -5px;
    left: 556px;
  }
  .slider__list{
    margin: 235px 142px 0 0;
  }
  .info{
    top: 800px;
  }
  .info__2 .info__img,
  .info__3 .info__img{
    background-position: 0 0;
  }
  .info h2{
    margin: 4px 0 -5px 51px;
    font-size: 24px;
  }
  .info__1, .info__2, .info__3 {
    float: left;
    width: 29.16%;
    height: 200px;
    margin: 9.4% 0 0 30px;
  }
  .info__text{
    height: 145px;
  }
  .info__link{
    margin: 7px 26px
  }
  .testimonials {
    width: 43%;
    margin: -47px 0 0 22px;
  }
  .testimonials__page {
    background: url(../img/testimonials_bg.png) no-repeat left 0;
  }
  .testimonials__header {
    padding: 30px 0 0px 40px;
    height: 48px;
    font: 400 25px/24px league_gothic_regular;
    letter-spacing: -0.02em;
  }
  .testimonials__br{
    display: inline;
  }
  .testimonials__text {
    height: 145px;
  }
  .testimonials__list {
    margin: 3px 0 70px 136px;
  }
  .fromblog{
    margin: 68px -8px 0 0px;
  }
  .fromblog p{
    height: 16px;
  }
  .fromblog__item--1, .fromblog__item--2, .fromblog__item--3 {
    padding: 13px 0 10px 65px;
  }
  .fromblog__link--960{
    display: none;
  }
  .fromblog__link--768{
    display: inline;
    margin: 14px 35px 0 0;
  }
  .trust_marks__wraper {
    width: 100%;
  }
  .trust_marks__link{
    margin: 26px 1.3% 31px;
  }
  .conclusion--960{
    display: none;
  }
  .conclusion--768 {
    display: block;
    top: 1749px;
  }
  .conclusion__block{
    width: 27.0%;
    margin: 96px 5.0% 0 19px;
    padding: 3px 0 0 0;
    font: 300 16px / 25px open_sanslight;
  }
  .conclusion__block h2{
    font-size: 24px;
  }
  footer{
    height: 201px;
  }
  .menu--footer{
    margin: 47px 0 0 14px;
  }
  .designed {
    margin: 103px 21px 0 0;
  }
}
@media (max-width: 768px){
  body{
    width: 100%;
    height: 3036px;
  }
  header{
    padding-top: 0;
  }
  .container{
    width: 480px;
    margin: 0px auto 0;
  }
  .header_logo {
    margin: 51px auto;
    display: block;
  }
  header .menu{
    float: none;
    position: absolute;
    left: 117px;
    top: 80px;
    width: 244px;
    height: 42px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    z-index: 100;
    
  }
  header .menu:hover{
    height: 257px;
    border: 1px solid #051116;
    border-radius: 10px;
    background-color: rgba(54, 41, 62, 0.7)
  }
  header .menu__item{
    display: block;
    text-align: center;
    padding: 8px 0 6px;
    width: 244px;
    height: 26px;
    margin: 0 auto;
    border-bottom: 2px groove #816289;
  }
  header .menu__item:first-child{
    padding: 13px 0 2px;
    height: 31px;
  }
  header .menu__item:last-child{
    padding: 8px 0 11px;
    height: 31px;
  }
  header .menu__item:hover{
    background-color: rgba(0, 0, 0, 0.7);

  }
  .sliders {
    top: 203px;
    height: 245px;
  }
  .arrow__left, .arrow__right {
    top: 88px;
  }
  .slider__box {
    width: 202px;
    height: 180px;
    margin: 20px 0 0 43px;
  }
  .slider__header {
    margin: -6px 0 0 -3px;
    font-size: 37px;
  }
  .slider__subheader {
    font-size: 18px;
    margin: -6px 0 2px -4px;
  }
  .slider__blic {
    display: none;
  }
  .slider__img {
    top: -24px;
    right: -42px;
    width: 191px;
    height: 305px;
  }
  .slider__text{
    display: none;
  }
  .slider__list {
    margin: 73px 194px 0 0;
  }
  .info {
    top: 547px;
    height: 600px;
  }
  .info__1,
  .info__2,
  .info__3{
    width: 87%;
    height: 130px;
    margin: 15.6% 0 -10% 32px;
  }
  .info__text {
    height: 75px;
  }
  .info__link {
    margin: 12px -4px;
  }
  .testimonials{
    float: none;
    width: 91%;
    margin: -71px 0 0 24px;
  }
  .testimonials__page {
    background: url(../img/testimonials_bg.png) no-repeat left 0;
  }
  .testimonials__header {
    padding: 30px 0 0px 39px;
    height: 33px;
    font: 400 30px/23px league_gothic_regular;
    letter-spacing: -0.0em;
  }
  .testimonials__br{
    display: none;
  }
  .testimonials__list {
    margin: 3px 0 70px 181px;
  }
  .fromblog{
    width: 68%;
    height: 358px;
    margin: -28px auto 0px;
    float: none;
  }
  .fromblog__link--768 {
    display: inline;
    margin: 14px -10px 0 0;
  }
  .trust_marks__wraper {
    width: 77%;
  }
  .trust_marks__link {
    margin: 36px 2.5% -10px;
  }
  .conclusion--768 {
    display: block;
    top: 2166px;
    height: 639px;
    padding-top: 31px;
  }
  .conclusion__block{
    width: 92%;
    height: 135px;
    margin: 46px auto 0px;
    padding: 3px 0 0 0;
  }
  .menu--footer {
    margin: 46px 0 0 17px;
  }
  .menu--footer .menu__item {
    margin: 0px 11px 0 0;
  }
  .designed {
    margin: 0px auto 0;
    padding-top: 37px;
    float: none;
    display: block;
  }
}
@media (max-width: 480px){
  body{
    width: 100%;
    height: 2525px;
  }
  .container{
    width: 320px;
    margin: 0px auto 0;
  }
  header .menu {
    position: absolute;
    left: 37px;
  }
  .sliders{
    background-color: rgba(0, 0, 0, 0);
  }
  .slider__box {
    width: 256px;
    height: 180px;
    margin: 20px 0 0 66px;
  }
  .slider__img{
    display: none;
  }
  .slider__header,
  .slider__subheader{
    width: 80%;
  }
  .slider__list {
    margin: 33px 114px 0 0;
  }
  .info {
    top: 516px;
    height: 600px;
  }
  .info__1, .info__2, .info__3 {
    width: 87%;
    height: 130px;
    margin: 20.6% 0 -12% 30px;
  }
  .info__link {
    margin: 14px 16px;
  }
  .testimonials {
    float: none;
    width: 84.5%;
    margin: -103px 0 0 22px;
  }
  .testimonials__header {
    padding: 25px 0 0px 36px;
    height: 45px;
    font: 400 24px/23px league_gothic_regular;
    letter-spacing: -0.0em;
  }
  .testimonials__br{
    display: inline;
  }
  .testimonials__text {
    height: 167px;
  }
  .testimonials__list {
    margin: 3px 0 70px 117px;
  }
  .fromblog {
    width: 88%;
  }
  .fromblog h3{
    height: 25px;
    overflow: hidden;
    margin-bottom: 1px;
  }
  .fromblog__link--768 {
    display: inline;
    margin: 19px 8px 0 0;
  }
  .trust_marks__link {
    margin: 53px 2.5% 6px;
  }
  .conclusion--960,
  .conclusion--768{
    display: none;
  }
  .menu--footer{
    display: none;
  }
  .designed {
    margin: 0px auto 0;
    padding-top: 42px;
  }
}


