*{
  margin: 0;
  padding: 0;
}
td{
  border: 10px solid black;
  text-align: center;
}
table{
  border-collapse: collapse;
  border-style: hidden;
}
.str1{
  height: 52px;
}
.str2{
  height: 138px;
}
.str3{
  height: 139px;
}
.str4{
  height: 70px;
}
.str5{
  height: 69px;
}
.str6{
  height: 37px;
}
.str7{
  height: 37px;
}
.col1{
  width: 56px;
}
.col2{
  width: 68px;
}
.col3{
  width: 73px;
}
.col4{
  width: 138px;
}
.col5{
  width: 88px;
}
.col6{
  width: 80px;
}
.yellow{
  background-color: #fff574;
}
.red{
  background-color: #ff553f;
}
.black{
  background-color: #101916;
}
.blue{
  background-color: #215f9e;
}
